body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 180px;
    height: 180px;
    border: 6px solid black;
    margin: 2rem;
    border-radius: 10%;
}

.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}
.blue {
    background-color: aquamarine;
}

.flash {
    background-color: white;
}